pandas
numpy
scikit-learn
scipy

matplotlib
seaborn
plotly

xgboost
lightgbm
catboost

mlflow
dvc

fastapi
uvicorn
streamlit

pyyaml
python-dotenv

joblib
dill

evidently

google-generativeai

langchain
langchain-community
langchain-google-genai

pydantic

pytest

jupyter
notebook
ipykernel

sqlalchemy

docker

requests

tqdm

openpyxl

python-multipart